<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="userVo" class="com.automic.sso.session.UserVO"  scope="prototype"/>
	<bean id="dealSso" class="com.automic.sso.session.server.DealSso" />
	
</beans>
