<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/util/spring-util-2.5.xsd 
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
	">
	
    <!-- oracle数据库 -->
	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler"	lazy-init="true">
		<property name="nativeJdbcExtractor">
			<ref local="nativeJdbcExtractor" />
		</property>
	</bean>
	<bean id="nativeJdbcExtractor"
		class="org.springframework.jdbc.support.nativejdbc.C3P0NativeJdbcExtractor">
	</bean>
    <!-- DB2、SQL Server、MySQL 等非 Oracle 的其它数据库 -->
	<bean id="defaultLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true" />


	<!-- Hibernate风格配置 。采用这种配置，可以用hibernate来创建数据库表
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<property name="lobHandler" ref="defaultLobHandler" />
	</bean>
	 -->
	<!-- spring 风格的Hibernate配置 。采用这种配置，不能用hibernate来创建数据库表 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url"
			value="jdbc:oracle:thin:@192.168.0.3:1521:SWMIS">
		</property>
		<property name="username" value="automic_swmis"></property>
		<property name="password" value="automic"></property>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="lobHandler" ref="defaultLobHandler" />
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/com/automic/flood/po/</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle9Dialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
			</props>
		</property>
	</bean>
	 -->
	<!-- Hibernate风格配置 。采用这种配置，可以用hibernate来创建数据库表-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:jtds:sqlserver://localhost:1433;DatabaseName=pomf;useUnicode=true;characterEncoding=GBK;autoReconnect=true">
		</property>
		<property name="username" value="sa"></property>
		<property name="password" value="automic"></property>
	</bean>

	<!-- hibernate *.hbm.xml style config-->
	<!-- <bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="lobHandler" ref="defaultLobHandler" />
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/com/automic/flood/po/</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
		</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
			</props>
		</property>
	</bean> -->
	<!-- hibernate annotation style config -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan">
			<list>
				<value>com.automic.sso.po</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
		</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.generate_statistics">true</prop>
			</props>
		</property>
	</bean>
	
	
	<!-- 使用Hibernate事务管理器 -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="nestedTransactionAllowed"> 
		   <value>true</value> 
		</property>
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager"/>

	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- spring xml config style -->
	<!-- <bean id="abstractDao" abstract="true">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean> -->
</beans>
