<?xml version="1.0" encoding="UTF-8"?>
<config>
  <!-- 系统名称 -->
  <systemName>省市级山洪灾害监测预警信息管理系统</systemName>
    <!-- 
  系统类型：
  1、省三级系统：即行政区由省市县构成，取值为1；
  2、市二级系统：即行政区由省市县构成(省隐含)，取值为2；
  3、县二级系统：即行政区由市县镇构成(市隐含)，取值为3；
  4、县一级系统：即行政区由省市县构成(省市隐含)，取值为4.
  -->
  <w.systemType>1</w.systemType>
   <!-- 是否应用的oracle数据库(1为用oracle数据库，0为不用) -->
  <w.oracleDB>0</w.oracleDB>
 
</config>