.wrap {width: 1280px;margin: 0 auto;}
.iframe {clear: both;}
.main{height: 860px;background: url('../images/index/bg.png') repeat-x scroll center top #FFF;}
.main_bg{background: url('../images/index/bg.png') repeat-x scroll center top #FFF;}
.margin { margin-top:10px;}
.title {background: url(../images/index/lbox_title.png) no-repeat;height: 30px;width: 141px;}
.title span {line-height: 30px;font-size: 14px;color: #FFF;display: block;height: 30px;padding-left: 38px;}
.titles {background: url(../images/index/lbox_titles.png) no-repeat;height: 30px;width: 165px;}
.titles span {line-height: 30px;font-size: 14px;color: #FFF;display: block;height: 30px;padding-left: 38px;}
.ico1 {background: url(../images/ico/title_ico1.png) no-repeat 8px 4px;}
.ico2 {background: url(../images/ico/title_ico2.png) no-repeat 8px 4px;}
.ico3 {background: url(../images/ico/title_ico3.png) no-repeat 8px 3px;}
.ico4 {background: url(../images/ico/title_ico4.png) no-repeat 8px 4px;}
.ico5 {background: url(../images/ico/title_ico5.png) no-repeat 8px 4px;}
.w_280 {width: 280px;}
.w_329 {width: 329px;}
.w_427 {width: 427px;}
.w_375 {width: 375px;}
.box{width: 985px;margin: 0 auto;}
.lbox {float: left;width: 237px;}
.lbox_display {height: 351px;width: 237px;}
.lbox_top{background: url(../images/index/lbox_top.png) no-repeat;height: 30px;}
.lbox_con{background: url(../images/index/lbox_con.png) no-repeat;height: 321px;padding: 0 9px;}
.lbox_ft {height: 60px;}
.lbox_ftl {display: block;float: left;width: 80px;color: #4f4f4f; margin-top:5px;}
.lbox_ftl dl {padding:0px;}
.lbox_ftl dd {font-size: 14px;font-weight: normal;padding-left: 5px;line-height: 25px;}
.lbox_ftl dt {font-style: normal;float: right;font-size: 20px;padding-right: 5px;line-height: 25px;}
.lbox_ftr {float: right;width: 110px;display: block;color: #4f4f4f;margin-top:5px;}
.lbox_ftr dl {padding:0px;}
.lbox_ftr dd {font-size: 14px;padding-left: 5px;line-height: 25px;font-weight: normal;float: left;padding-right: 10px;}
.lbox_ftr dt {font-size: 20px;line-height: 25px;}
.lbox_tit {height: 30px;}
.lbox_tit h3 {font-size: 14px;font-weight: normal;color: #4f4f4f;line-height: 30px;float: left;padding-left: 5px;}
.lbox_tit b {float: right;font-size: 12px;line-height: 25px;font-weight: normal;color: #4f4f4f;display: block;margin: 5px 3px 0 10px;}
.lbox_block { padding:0px;}
.lbox_line {height: 2px;background: url(../images/index/lbox_line.png) repeat-x;}

.rbox {float: right;width: 735px;}
.rbox_msg {background: url(../images/index/rbox_msg.png) no-repeat;height: 43px;padding: 8px 0;}
.rbox_display {height: 250px;width: 735px;}
.rbox_top{background: url(../images/index/rbox_top.png) no-repeat;height: 30px;}
.rbox_con{background: url(../images/index/rbox_con.png) no-repeat;height: 202px;padding:9px;}
.rbox_city{width: 70px;float: left;display: block;margin-left: 35px;}
.rbox_city  b{font-weight: normal;width: 70px;display: block;font-size: 14px;line-height: 20px;}
.rbox_city span{line-height: 20px;}
.rbox_ico {height: 42px;width: 38px;float: left;padding: 0 6px;}
.rbox_ft {display: block;float: left;line-height: 21px;}
.rbox_ft em {font-style: normal;background-color: #f8dc8a;padding:2px ;}
.rbox_Arrow {background: url(../images/ico/Arrow.png) no-repeat;float: left;height: 12px;width: 8px;margin: 15px 0 0 10px;display: block;}
.rbox_Arrow a {background: url(../images/ico/Arrow.png) no-repeat;height: 12px;width: 8px;display: block;}
.rbox_Arrow a:hover {background: url(../images/ico/Arrow.png) no-repeat bottom;height: 12px;width: 8px;display: block;}

.rbox_chart {float: left;}
.rbox_chart_top {height: 25px;}
.rbox_chart_top h3 {height: 25px;line-height: 25px;padding-left: 8px;font-size: 14px;font-weight: normal;color: #4f4f4f;}
.rbox_chart_ft {width: 115px;float: left;display: block;margin-left: 20px;color: #4f4f4f;}
.rbox_chart_ft b{font-weight: normal;display: block;font-size: 14px;line-height: 25px;float: left;}
.rbox_chart_ft span{line-height: 25px;font-size: 20px;margin-left: 5px;}
.rbox_chart_m {margin-top: 8px;}
.rbox_chart_img {float: left;width: 144px;height: 162px;}
.rbox_chart_imgs {float: left;width: 176px;height: 166px;}
.rbox_chart_sj {float: left;height: 147px;width: 120px;padding: 15px 8px 0 8px;}
.rbox_chart_sj dl{height: 33px;margin-top: 10px;}
.rbox_chart_sj dt{height: 33px;width: 55px;float: left;font-size: 18px;line-height: 33px;text-align: center;}
.rbox_chart_sj dd{height: 20px;width: 65px;float: left;margin-top: 6px;font-size: 12px;line-height: 20px;text-align: center;}
.rbox_chart_sj .Pink_1 {background: url(../images/index/chart_Pink_1.png) no-repeat;color: #fff;}
.rbox_chart_sj .Pink_2 {background: url(../images/index/chart_Pink_2.png) no-repeat;color: #fff;}
.rbox_chart_sj .Yellow_1 {background: url(../images/index/chart_Yellow_1.png) no-repeat;color: #000;}
.rbox_chart_sj .Yellow_2 {background: url(../images/index/chart_Yellow_2.png) no-repeat;color: #000;}
.rbox_chart_sj .Green_1 {background: url(../images/index/chart_Green_1.png) no-repeat;color: #000;}
.rbox_chart_sj .Green_2 {background: url(../images/index/chart_Green_2.png) no-repeat;color: #000;}
.rbox_chart_sjs {float: left;width: 138px;height: 166px;padding: 0 5px 0 10px;display: block;}
.rbox_chart_sjs li {height: 30px;font-size: 14px;line-height: 30px;margin-top: 2px;}
.rbox_chart_sjs li span {margin-left: 8px;font-size: 20px;}
.rbox_chart_sjs .font_Black {color:#000;}
.rbox_chart_sjs .font_Red {color:#ff0000;}
.rbox_chart_sjs .font_Yellow {color:#ffba29;}
.rbox_chart_sjs .font_Blue {color:#3468d6;}
.rbox_margin{margin-top: 15px;}
.rbox_height {height: 36px;padding: 7px 0;}
.rbox_note {width: 140px;float: left;}
.rbox_note b {line-height: 36px;font-weight: normal;height: 36px;float: left;display: block;text-align: right;width: 53px;color: #4f4f4f;}
.rbox_note i{height: 36px;margin: 0 5px;float: left;width: 35px;}
.rbox_note em {line-height: 36px;float: left;font-style: normal;height: 36px;font-size: 20px;color: #4094ca;}
.rbox_Data {float: right;}
.rbox_Data h3{height: 25px;background: #f6f6f6;font-size: 14px;font-weight: normal;color: #4f4f4f;line-height: 25px;position: relative;padding-left: 2px;}
.rbox_Data h3 b{float: right;display: block;position: absolute;right: 5px;font-size: 12px;top: 0px;font-weight: normal;}
.rbox_Data_t {padding: 0px;margin-top: 5px;}
.rbox_line {background: url(../images/index/lbox_line.png) repeat-x;height: 2px;}

.rbox_btn {float: right;width: 276px;margin: 3px 10px 0 0 ;display: block;}
.rbox_btn span {display: block;width: 92px;height: 37px;float: left;background: url(../images/index/buttons.png) no-repeat;
font-size: 14px;line-height: 36px;color: #4f4f4f;text-align: center;}
.rbox_btn .n1 span {background-position: -0 0;}
.rbox_btn .n2 span {background-position: -92px 0;}
.rbox_btn .n3 span {background-position: -184px 0;}
.rbox_btn .n1:hover span {background-position: -0 -37px;}
.rbox_btn .n2:hover span {background-position: -92px -37px;}
.rbox_btn .n3:hover span {background-position: -184px -37px;}

.table {margin: 0px;color: #4f4f4f;}
.table th {background: url(../images/index/lbox_th.png) repeat-x;height: 27px;font-weight: normal;line-height: 27px;}
.table td {height: 27px;line-height: 27px;border-bottom: 1px solid #dddddd;padding-left: 5px;}
.table .tr_color { background-color:#e7e7e7;}
.tables {margin: 0px;color: #4f4f4f;border-collapse:collapse;}
.tables th {background: url(../images/index/rbox_th.png) repeat-x;height: 25px;font-weight: normal;line-height: 25px;border: 1px solid #dddddd;}
.tables td {line-height: 26px;border: 1px solid #dddddd;text-align: center;}

.button {font-size: 12px;height: 32px;width: 237px;margin-top: 10px;background: url(../images/index/button.png) no-repeat;float: left;}
.button span {display: block;color: #2A2A2A;font-size: 16px;line-height: 28px;padding-left: 75px;}
.button a {height: 32px;background: url(../images/index/button.png) no-repeat;display: block;width: 237px;}
.button a:hover {background: url(../images/index/button.png) no-repeat 0px -32px;display: block;height: 32px;width: 237px;}

.btn_ico1 {background: url(../images/ico/btn1.png) no-repeat 30px 3px;}
.btn_ico2 {background: url(../images/ico/btn2.png) no-repeat 30px 3px;}
.btn_ico3 {background: url(../images/ico/btn3.png) no-repeat 30px 3px;}

.Blue{color: #4094ca;}
.Red{color: #ff0000;}
.Orange{color: #ff8b5e;}

/*tab页签切换*/
#TabTab03Con1{margin: 0px;padding: 0px;}
#TabTab03Con2{margin: 0px;padding: 0px;}
.xixi1{width: 253px;height: 28px;line-height: 28px;background: url(../images/index/tab1.png) no-repeat;cursor: pointer;}
.xixi2{width: 253px;height: 28px;line-height: 28px;background: url(../images/index/tab2.png) no-repeat;cursor: pointer;}
.tab1{width:126px;height:28px;float:left;cursor:pointer;color:#FFFFFF;}
.tab2{width:126px;height:28px;float:left;cursor:pointer;color:#FFFFFF;}
.tab1 span,.tab2 span {line-height: 28px;font-size: 14px;color: #FFF;display: block;height: 28px;padding-left: 38px;}
